body {   
    font-family: 'Oldenburg', ariel, helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black; #ffc;
    margin: 40px; 
    background-image: url("http://bgfons.com/uploads/paper/paper_texture602.jpg");
    background-attachment: fixed;
    background-color: #f2eecb;
    background-repeat: no-repeat;
}

li {
    display: inline-block;
    margin: 40px;
    font-size: 38px;
    font-family: 'Oldenburg, ariel, helvetica, sans-serif;
}

li:hover {
    background-color:#f2eecb;
}
.img-baroque {
    text-align: center
}  

h1 { 
    background-image: url("https://blogs.loc.gov/music/files/2012/04/0589a.jpg");
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    color: #f2eecb;
    font-family:'windsong', cursive;
    font-size: 3.25em; 
    font-weight: bold;
    margin: 0px; 
    padding: 30px;
    text-align: center;
    letter-spacing: 0.5em;
    overflow-wrap: break-word;
}


h2 {
  font-family:'windsong', ariel, helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
  text-align: center;
}

ul {
   font-weight: bold;
   padding: 0;     
}

nav {
   position: center;
}

.index {
     margin: 60px;     
}

.about us {
     margin: 60px;   
}

.performances {
     margin: 60px;  
}

.donate {
     margin: 60px;   
}


#text {
    font-family: 'Oldenburg', ariel, helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black; #ffc;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: #654321;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #412B15;
}

.container {
  border-radius: 5px;
  background-color: #f2eecb;
  padding: 20px;
  font-family: 'Oldenburg', ariel, helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: black; #ffc;
}

#map {
  width: 100%;
  height: 400px;
  
}

footer {
   color: black;
   text-align: center;
   font-size: 15px;
}

a {
  color: black;
  text-decoration: none;
}